<section class="mx-auto my-3 w-75">
    <h1 class="h2 text-main text-center">Forget Password</h1>
    @if (errorMsg != "") 
    {
    <div class="alert alert-danger text-center p-2 w-50 mx-auto">
        {{errorMsg}} Please check your info
    </div>
    }
    @if (step == 1) 
    {
    <form class="p-3 bg-main-light shadow" [formGroup]="verifyEmailForm" (ngSubmit)="submitVerifyEmailForm()">
        <div class="my-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <button type="submit" [disabled]="verifyEmailForm.invalid" class="btn btn-main my-2 mx-auto d-flex" >Submit</button>
    </form>
    
    }
    @else if (step == 2) 
    {
        <form class="p-3 bg-main-light shadow" [formGroup]="verifyOTPForm" (ngSubmit)="submitVerifyOTPForm()">
        <div class="my-2">
                <label for="resetCode" class="form-label">Reset Code</label>
                <input type="text" class="form-control" maxlength="6" pattern="[0-9]*" id="resetCode" formControlName="resetCode">
        </div>
            <button type="submit" class="btn btn-main my-2 mx-auto d-flex" >Submit</button>
        </form>
    }


    @else 
    {
     <form class="p-3 bg-main-light shadow" [formGroup]="newPasswordForm" (ngSubmit)="submitVerifyResetPasswordForm()">
        <div class="my-2">
            <label for="email" class="form-label">Email</label>
            <input readonly type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="my-2">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
        </div>
        <button type="submit" [disabled]="newPasswordForm.invalid" class="btn btn-main my-2 mx-auto d-flex" >Submit</button>
    </form>
    }


</section>